doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Color Timerz
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h2 Color Timerz
    .row
      .small-2.columns
        button#start.radius.tiny Start the Rainbow!
      .small-2.columns
        button#stop.alert.radius.tiny Stop the Rainbow!
      .small-8.columns
        button#reset.radius.tiny Reset the Rainbow!
    .row
      .small-12.columns
        #container

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/source/main.js')
    script $(document).foundation();

