doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation 5
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1 Foundation 5 Template
    .row
      .small-2.columns
        button#one.radius.round One
      .small-2.columns
        button#two.radius.round Two
      .small-8.columns
        #one-response
    .row
      .small-3.columns
        input#a(type='text', placeholder='First #')
      .small-3.columns
        input#b(type='text', placeholder='second #')
      .small-2.columns
        button#add.tiny Add
      .small-4.columns
        #sum

    .row
      .small-3.columns
        input#name(type='text', placeholder='name')
      .small-3.columns
        input#age(type='text', placeholder='Age')
      .small-6.columns
        button#drinkBtn.tiny Can I drink?
    .row
      .small-12.columns
        #drinkResponse
    .row
      .small-3.columns
        input#numbers(type='text', placeholder='numbers')
      .small-3.columns
        button#productBtn.tiny Product
      .small-6.columns
        #product-response
    .row
      .small-3.columns
        input#names(type='text', placeholder='names')
      .small-3.columns
        button#namesBtn.tiny Calculate
      .small-6.columns
        #names-response

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')

