* {
  font-family: monospace;
}

h1 {
  color: red;
}

div {
  color: green;
}

a[href] {
  border: 1px solid red;
}

a[href="http://www.google.com"] {
  background-color: yellow;
}

#first-name {
  color: red;
  background-color: orange;
}

#last-name {
  color: purple;
}

.name {
  font-size: 5em;
}

#one {
  border: 2px dashed blue;
  border-radius: 5px;
  padding: 5px;
}

.x1 {
  color: red;
}

div#one p {
  background-color: lavender;
}

div#one > p {
  letter-spacing: 4px;
}
