doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class="no-js", lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Shatner's Emporium
    link(rel="stylesheet" href="/css/normalize.css")
    link(rel="stylesheet" href="/css/foundation.css")
    link(rel="stylesheet" href="/css/app.css")
    script(src="/js/vendor/modernizr.js")
  body
    .row
      .small-12.columns
        .panel
          h2 Shatner's Emporium
          h5.subheader Name your own price!
    .row
      .small-8.columns
        form
          .row
            .small-5.columns
              label Product Name
              input#item(type='text', placeholder='Item Name', autofocus=true)
            .small-2.columns
              label Qty
              input#qty(type='text', placeholder='1')
            .small-2.columns
              label Amount
              input#amt(type='text', placeholder='$')
              h5 text box
            .small-3.columns
              label &nbsp;
              button#addItem.tiny.radius Add Item
        .small-4.columns
          table
            thead
              tr
                th Item
                th Qty
                th $
                th Total
            tfoot
            tbody
              tr
                td Gold iPod
                td 3
                td $3000
                td $9000

    script(src="js/vendor/jquery.js")
    script(src="js/vendor/foundation.js")
    script(src="js/source/main.js")
