doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/css/qunit.css')
    title OOP-Tdd
  body
    #qunit
    #qunit-fixture
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/qunit.js')
    script(src='/js/source/shelter.js')
    script(src='/js/source/animals.js')
    script(src='/js/source/clients.js')
    script(src='/js/source/test.js')
