doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/css/qunit.css')
    title Tdd-Day Trader
  body
    #qunit
    #qunit-fixture
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/qunit.js')
    script(src='/js/source/Stock.js')
    script(src='/js/source/Portfolio.js')
    script(src='/js/source/Client.js')
    script(src='/js/source/test.js')
