doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= album.title
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/less/app.css')
    script(src='/js/vendor/modernizr.js')
  body(style='background-image:url("'+album.cover+'")')
    .row
      .small-12.columns.panel
        h1= album.title 
        h5= moment(album.taken).format('MMMM Do, YYYY')

    .row
      .small-2.columns
        a.button.tiny.radius(href='/') Back to Albums
      .small-2.columns
        a.button.tiny.radius.left#addphoto Add Photo
      .small-8.columns
    .row
      .small-6.columns
        form#addform(action='/albums/' + album._id, method='post', enctype='multipart/form-data')
          fieldset
            .row
              .small-8.columns
                label Photo
                input(type='file', name='photo')
              .small-4.columns
                label &nbsp;
                button.tiny.radius Add Photo
      .small-6.columns
    .row
      .small-12.columns



    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/moment.js')
    script(src='/js/source/main.js')

