body {
  background-color: rgba(114, 154, 194, 0.88);
}
table {
  width: 60%;
}
table > tbody input {
  width: 80px;
}
.delete {
  width: 25px;
  padding: 5px;
  margin-left: 20px;
  margin-top: 3px;
  background-color: darkred;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}
